---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <p>We've intentionally omitted the <code>pageTitle</code> prop when calling <code>BaseLayout</code></p>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores eos eveniet fugiat, libero maxime
        quia tempore tenetur? A adipisci alias explicabo hic maxime mollitia necessitatibus sapiente veritatis vero.
        Animi!
    </p>
    <ul>
        <li><a href="/posts/post-1">Why Star Trek is inherently better than Star Wars</a></li>
        <li>
            <a href="/posts/sword-of-truth-book-series-is-an-objectivist-obsession"
                >The Sword of Truth book series is an objectivist obsession</a
            >
        </li>
    </ul>
    <script>
        import "../scripts/menu.js";
    </script>
</BaseLayout>
