---
import Navigation from "../components/Navigation.astro";
import Social from "../components/Social.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>My Astro site</title>
    </head>
    <body>
        <Navigation />
        <h1>My Astro site</h1>
        <Social platform="twitter" username="astrodotbuild" />
        <Social platform="github" username="withastro" />
        <Social platform="youtube" username="astrodotbuild" />
    </body>
</html>
